body {
    background-color: lightblue;
    font-family: Arial;
}

h1 {
    color: darkblue;
    text-align: center;
}

p {
    color: red;
    font-size: 18px;
}
h2 {
    color: rgb(37, 37, 46);
    text-align: center;
}
label {
    color: rgb(37, 37, 46);
    font-size: 18px;
     text-align: center;

}